/* ----- Navbar Styles ----- */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255);
  /* border-bottom: 5px solid var(--color-5); */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.navbarItems {
  display: flex;
  gap: 16px;
}

.navbarItem {
  list-style: none;
  color: var(--color-1);
  padding: 7px;
  font-size: 0.8em;
  /* background-color: var(--color-1); */
  border-radius: 7px;
  padding-left: 18px;
  padding-right: 18px;
  /* border: 2px solid white; */
  transition: 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}

.navbarItemsContainer.open {
  display: block;
}

.navbarItem:hover {
  background-color: var(--color-5);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  transform: scale(1.1, 1.1);
}

.navbarLogo {
  width: 80px;
  margin: 10px;
  margin-left: 50px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.navbarLogo:hover {
  transform: scale(1.1, 1.1);
}

.hamburger {
  position: absolute;
  right: 1rem;
  top: 2.4em;
}

.hamburger span {
  display: none;
  width: 40px;
  height: 3px;
  background-color: var(--color-2);
  margin-bottom: 8px;
  transition: ease-in 0.3s;
}

.hamburger.open span:first-child {
  transform: translateY(11px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:last-child {
  transform: translateY(-11px) rotate(-45deg);
}

/*----- Start Fade Effect -----*/
.slide-enter {
  transform: translateY(-100%);
}

.slide-enter-active {
  transform: translateY(0);
  transition: transform 300ms;
}

.slide-exit {
  transform: translateY(0);
}

.slide-exit-active {
  transform: translateY(-100%);
  transition: transform 300ms;
}
/* ----- End Fade Effect ----- */

/* ----- Start Media Query ----- */
@media only screen and (max-width: 1200px) {
  .navbarItems {
    display: none;
  }

  .hamburger {
    margin-right: 20px;
    position: absolute;
    top: 35px;
  }

  .navbarLogo {
    width: 80px;
  }

  .hamburger span {
    display: block;
  }

  .navbar.open {
    align-items: flex-start;
    flex-direction: column;
    font-size: 1.2em;
  }

  .navbarItems.open {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: 0.2s ease-in-out;
    border-bottom: solid 7px var(--color-5);
  }

  .navbarItem {
    text-align: center;
    border-radius: 0;
    color: var(--color-1);
  }
}
/* ----- End Media Query ----- */
